sharepoint/.gradle/1.5/taskArtifacts/cache.properties
sharepoint/.gradle/1.5/taskArtifacts/cache.properties.lock
sharepoint/.gradle/1.5/taskArtifacts/fileHashes.bin
sharepoint/.gradle/1.5/taskArtifacts/fileSnapshots.bin
sharepoint/.gradle/1.5/taskArtifacts/outputFileStates.bin
sharepoint/.gradle/1.5/taskArtifacts/taskArtifacts.bin
sharepoint/.svn/wc.db
sharepoint/.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
sharepoint/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
sharepoint/buildSrc/.gradle/1.5/taskArtifacts/cache.properties
sharepoint/buildSrc/.gradle/1.5/taskArtifacts/cache.properties.lock
sharepoint/buildSrc/.gradle/1.5/taskArtifacts/fileHashes.bin
sharepoint/buildSrc/.gradle/1.5/taskArtifacts/fileSnapshots.bin
sharepoint/buildSrc/.gradle/1.5/taskArtifacts/outputFileStates.bin
sharepoint/buildSrc/.gradle/1.5/taskArtifacts/taskArtifacts.bin
sharepoint/buildSrc/.gradle/noVersion/buildSrc/built.bin
sharepoint/buildSrc/.gradle/noVersion/buildSrc/cache.properties
sharepoint/buildSrc/.gradle/noVersion/buildSrc/cache.properties.lock
sharepoint/sharepoint-lib/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
sharepoint/sharepoint-sample/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
sharepoint/sharepoint-sample/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs